/* Super minimal reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  color: #444;
}

.install-button {
  display: inline-block;
}

.colored {
  background-image: linear-gradient(to bottom right, #ffca34 0%, #ffb32c 100%);
  background-color: #ffb32c;
}

header {
  padding: 3rem;
  text-align: center;
}

header .coffee {
  width: 16rem;
  margin-bottom: 1rem;
}

header h1 {
  margin-bottom: 2rem;
  font-size: 5rem;
}

header p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

main {
  padding: 3rem 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.usage h2 {
  margin-bottom: 1rem;
  line-height: 1.2;
}

.usage .message {
  margin-bottom: 1.5rem;
  padding: 0.7rem;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
}

.usage .response {
  margin-bottom: 3rem;
  max-width: 100%;
}

.usage .response.single-line {
  height: 50px;
}

.usage .response.double-line {
  height: 70px;
}

@media (max-width: 600px) {
  .usage .response.single-line,
  .usage .response.double-line {
    height: auto;
  }
}

.installation {
  margin-top: 4rem;
  text-align: center;
}

.installation h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.privacy h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.privacy h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.privacy p {
  margin-bottom: 2rem;
  line-height: 1.2;
}

footer {
  padding: 2.5rem;
  text-align: center;
}

footer p {
  margin-bottom: 0.5rem;
}

footer a,
footer a:visited {
  color: inherit;
}
