<head>
  <title>{{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="slack, slackbot, slack app, coffee">
	<meta name="description" content="Team collaboration where you need it most.">
	<meta property="og:site_name" content="/coffee">
	<meta property="og:title" content="/coffee - Team collaboration where you need it most.">
	<meta property="og:url" content="http://coffee.agelber.com">
	<meta property="og:image" content="http://coffee.agelber.com/images/coffee.png">
	<meta property="og:description" content="Organize coffee runs for your teammates in your slack channel.">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="/coffee - Team collaboration where you need it most.">
  <meta name="twitter:description" content="Organize coffee runs for your teammates in your slack channel.">
	<meta name="twitter:creator" content="@assafgelber">
	<meta name="twitter:image" content="http://coffee.agelber.com/images/coffee.png">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
